{% extends 'base.html.twig' %}

{% block body %}

    <h1>Toutes les catégories</h1>

    <ul class="list-group">
        {% for category in categories %}
            <a href="{{ path('app_category_show', {'id': category.id }) }}">
                <li class="list-group-item">
                    {{ category.name }}
                </li>
            </a>
        {% endfor %}
    </ul>

    <a href="{{ path('app_category_add') }}">Ajouter une catégorie</a>

{% endblock %}